@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --red: #FC4747;
    --lightblue: #5A698F;
    --darkblue: #161D2F;
    --lightblack: #10141E;
}

/* 
  color: var(--lightblack) 
  */

body {
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: white;
    background-color: var(--lightblack);
}

#avatar {
    border: 2px solid white;
    border-radius: 50%;
}

nav {
    background-color: var(--darkblue);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small-svg path {
    transform: scale(0.8);
    fill: lightgray;
}

#nav-wrapper {
    padding: 0;
}

.wrapper {
    padding: 13px;
    max-width: 750px;
}

.nav-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 40px;
}

.icon {
    cursor: pointer;
}

.icon:hover path {
    fill: var(--red);
}

.active path {
    fill: white;
}

.search {
    display: flex;
    align-items: center;
}

#user-input {
    border: none;
    background-color: transparent;
    margin-left: 10px;
    width: 80%;
    color: white;
    caret-color: var(--red);
}

#user-input:focus {
    outline: none;
}

.movie {
    cursor: pointer;
}

.trending {
    display: inline-block;
    height: 165px;
    width: 240px;
    margin-right: 10px;
    position: relative;
}

.trending-item {
    border-radius: 20px;
}

.trending-text {
    font-size: smaller;
    color: lightgray;
    position: relative;
    font-weight: 500;
    top: -54px;
    left: 19px;
}

.trending-title {
    color: white;
}

.trending-container {
    height: 165px;
    white-space: nowrap;
    overflow: auto;
    max-width: 685px;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-x: scroll;
    overflow-y: hidden;
}

.trending-container::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.recommended-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
}

.reco {
    height: 165px;
    width: 165px;
    position: relative;
    margin: 10px 4px;
}

.reco-item {
    border-radius: 20px;
}

.reco-text {
    font-size: smaller;
    color: lightgray;
    position: relative;
    font-weight: 400;
    top: 9px;
    left: 2px;
}

.reco-title {
    color: white;
}

.reco .play-button {
    top: 36px;
    left: 29px;
}

.reco .bookmark-icon {
    top: -150px;
    left: 124px;
}

.bookmark-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.435);
    height: 32px;
    width: 32px;
    top: -175px;
    left: 197px;
}

.bookmark-icon path {
    transform: scale(1.2);
}

.bookmark-hover {
    background-color: white;
    stroke: black;
    cursor: pointer;
}

.bookmarked-clicked {
    fill: white;
}

.play-button {
    font-size: larger;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.595);
    border: 1px solid transparent;
    width: 104px;
    height: 43px;
    border-radius: 55px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
}

.trending .play-button {
    top: 50px;
    left: 71px;
}

.play-hover {
    border: 1px solid white;
}

@media screen and (min-width: 1000px) {
    main {
        margin: 50px 0;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 680px;
        border-radius: 15px;
        width: 100px;
    }

    #nav-wrapper {
        max-width: 100px;
        margin-right: 20px;
        margin-left: 50px;
    }

    .nav-icons {
        flex-direction: column;
        align-items: center;
        width: 100px;
        height: 250px;
        justify-self: flex-start;
        margin-bottom: auto;
    }

}