{% extends 'base.html' %}

{% load static %}
{% load svg %}

{% block content %}
<br>

<h1 class="display-6 mb-3">Trending</h1>

<div class="trending-container">

    <!-- Visual Media Item -->
    {% for item in trending %}
    <div class="trending item">
        <img src="{% static item.thumbnail_trending_small %}" width="240" height="140"
            class="trending-item" alt="Trending item">
        <div class="trending-text">
            <span>{{ item.year }}</span>
            <span>&nbsp;&bull;&nbsp;</span>
            {% if item.category == 'Movie' %}
            <span class="small-svg">{% svg 'icon-nav-movies' %}</span>
            {% else %}
            <span class="small-svg">{% svg 'icon-nav-tv-series' %}</span>
            {% endif %}
            <span>{{ item.category }}</span>
            <span>&nbsp;&bull;&nbsp;</span>
            <span>{{ item.rating }}</span>
            <h6 class="trending-title">{{ item.title }}</h6>
        </div>
        <div class="bookmark-icon">
            {% if item.isBookmarked == True %}
            <span>{% svg 'icon-bookmark-full' %}</span>
            {% else %}
            <span>{% svg 'icon-bookmark-empty' %}</span>
            {% endif %}
            <span style="display: none" class="item-id">{{ item.id }}</span>
        </div>
        <div class="play-button" style="display: none;">
            <span>{% svg 'icon-play' %}</span>
            <span>Play</span>
        </div>
    </div>
    {% endfor %}
</div>

<h1 class="display-6 my-3">Recommended for you</h1>

<div class="recommended-container">

    <!-- Visual Media Item -->
    {% for item in recommended %}
    <div class="reco item">
        <img src="{% static item.thumbnail_regular_small %}" width="160" height="110"
            class="reco-item" alt="Recommended item">
        <div class="reco-text">
            <span>{{ item.year }}</span>
            <span>&nbsp;&bull;&nbsp;</span>
            {% if item.category == 'Movie' %}
            <span class="small-svg">{% svg 'icon-nav-movies' %}</span>
            {% else %}
            <span class="small-svg">{% svg 'icon-nav-tv-series' %}</span>
            {% endif %}
            <span>{{ item.category }}</span>
            <span>&nbsp;&bull;&nbsp;</span>
            <span>{{ item.rating }}</span>
            <h6 class="trending-title">{{ item.title }}</h6>
        </div>
        <div class="bookmark-icon">
            {% if item.isBookmarked == True %}
            <span>{% svg 'icon-bookmark-full' %}</span>
            {% else %}
            <span>{% svg 'icon-bookmark-empty' %}</span>
            {% endif %}
            <span style="display: none" class="item-id">{{ item.id }}</span>
        </div>
        <div class="play-button" style="display: none;">
            <span>{% svg 'icon-play' %}</span>
            <span>Play</span>
        </div>
    </div>
    {% endfor %}
    
</div>



{% endblock %}